# AOE2
The following kernel process a subset of Age of Empires DE games

In [4]:
# Basic setup stuff
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        display(os.path.join(dirname, filename))

plt.rcParams['figure.figsize'] = (12.0, 8.0)  # default figure size

Read both the matches and match_players data to show the type of data that the files store.
* **matches.csv**: It contains information about the matches play, one by row. The match is identified by the _token_ field
* **match_players.csv**: It contains information about the players that where involved in every match. The _token_ identifies the player and the _match_ field is the foreign key of _matches.csv_

In [5]:
matches = pd.read_csv("matches.csv")
display(matches.info())
matches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3153767 entries, 0 to 3153766
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   token           object
 1   winning_team    int64
 2   mirror          bool
 3   ladder          object
 4   patch           int64
 5   average_rating  float64
 6   map             object
 7   map_size        object
 8   num_players     int64
 9   server          object
 10  duration        object
dtypes: bool(1), float64(1), int64(3), object(6)
memory usage: 243.6+ MB

None

,token,winning_team,mirror,ladder,patch,average_rating,map,map_size,num_players,server,duration
0,OFb9Dkk3adCN5GLV,2,False,RM_1v1,40874,1100.0,arabia,tiny,2,ukwest,0:32:00
1,hKNeRYrz0ecdBMFO,1,False,RM_1v1,37906,NaN,arabia,tiny,2,ukwest,0:41:45
2,90ZCh6wfUVc3ujLo,2,False,RM_1v1,41855,1127.0,arabia,tiny,2,ukwest,0:16:59
3,47e37f92a0551b4d,1,False,RM_1v1,36906,1203.0,arabia,tiny,2,ukwest,0:30:17
4,zq3ILuaPrhdhgGUM,1,False,RM_1v1,40220,1059.0,valley,tiny,2,westus2,0:14:44

In [3]:
players = pd.read_csv("/kaggle/input/dataset/match_players.csv")
display(players.info())
players.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9732500 entries, 0 to 9732499
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   token   object
 1   match   object
 2   rating  float64
 3   color   object
 4   civ     object
 5   team    int64
 6   winner  bool
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 454.8+ MB

None

              token             match  rating  color       civ  team  winner
0  BsnDkR5pb9DVCbIt  9YDIBsStGjrIuGbW   952.0   Blue    Tatars     2    True
1  88224b59212f259b  3930e585b343d9b2  1395.0  Green    Aztecs     2   False
2  2RvyZPW1f9y4jP7M  6zAtwTFqh8OIJJuX  1330.0   Blue     Khmer     2   False
3  Ck4C5MvBqlXJLSqx  xZTyZZokUTv5Cg94  1728.0    Red    Franks     1    True
4  97991ac787bb23e3  b638b4ef08b2df96     NaN   Blue  Persians     2    True

Point 1: Games that took more than 2 hour per server

In [4]:
matches["duration"] = pd.to_timedelta(matches["duration"])
huge_duration_matches = matches[(matches["average_rating"] > 2000) & (matches["duration"] > pd.to_timedelta("02:00:00"))]
long_games = huge_duration_matches.groupby(["server"])["token"].count().reset_index().rename(columns={"token": "counts"})
print(long_games[["server", "counts"]])

               server  counts
0  australiasoutheast       8
1         brazilsouth     330
2              eastus     101
3        koreacentral       9
4       southeastasia      49
5              ukwest     246
6          westeurope       7
7           westindia      42
8             westus2      23

Point 2: Games where the player with less rating (30% difference) won the game in 1v1 games (rating > 1000)

In [8]:
for idx,group in players.groupby("match"):
    # Filter games with more than two players
    if len(group) == 2:
        # Check if the player with lower rating won
        conditionMet = False
        rating_diff = 0
        if group.iloc[0]["rating"] < group.iloc[1]["rating"] and group.iloc[0]["winner"] == True and group.iloc[0]["rating"] > 1000:
            rating_diff = (group.iloc[1]["rating"] - group.iloc[0]["rating"]) / group.iloc[0]["rating"] * 100
            conditionMet = True
        elif group.iloc[0]["rating"] < group.iloc[1]["rating"] and group.iloc[0]["winner"] == True and group.iloc[1]["rating"] > 1000: 
            conditionMet = True
            rating_diff = (group.iloc[0]["rating"] - group.iloc[1]["rating"]) / group.iloc[1]["rating"] * 100
            
        # Compare the rating, and only show those ones where the rating pct is above 30%
        if conditionMet and rating_diff > 30:
            print("Match: {} - Player1 rating: {} - Player2 rating: {} - Rating diff: {:.2f}".format(group.iloc[0]["match"], group.iloc[0]["rating"], group.iloc[1]["rating"], rating_diff))

Match: 17bc2296148b0837 - Player1 rating: 1479.0 - Player2 rating: 2186.0 - Rating diff: 47.80
Match: 208f626be3222db9 - Player1 rating: 1590.0 - Player2 rating: 2126.0 - Rating diff: 33.71
Match: 2a09aebb3fc9bd0e - Player1 rating: 1516.0 - Player2 rating: 2032.0 - Rating diff: 34.04
Match: 3eDlIz5OuLG4kboq - Player1 rating: 1661.0 - Player2 rating: 2216.0 - Rating diff: 33.41
Match: 3rq3g0EgQNJsv8Yk - Player1 rating: 1048.0 - Player2 rating: 1364.0 - Rating diff: 30.15
Match: 6BEKM7mi87CSkT0g - Player1 rating: 1622.0 - Player2 rating: 2112.0 - Rating diff: 30.21
Match: 6ad2366618573d2c - Player1 rating: 1637.0 - Player2 rating: 2149.0 - Rating diff: 31.28
Match: 8fUo0R6Wy2KxfFU6 - Player1 rating: 1045.0 - Player2 rating: 1397.0 - Rating diff: 33.68
Match: 9c0b37f01c78c905 - Player1 rating: 1529.0 - Player2 rating: 2232.0 - Rating diff: 45.98
Match: F6rVJ5vgwQ3q2fxR - Player1 rating: 1437.0 - Player2 rating: 2099.0 - Rating diff: 46.07
Match: IJfrVyW4lg0zaX4f - Player1 rating: 1032.0 - Player2 rating: 1361.0 - Rating diff: 31.88
Match: INOZI3RTniGx26uS - Player1 rating: 1629.0 - Player2 rating: 2125.0 - Rating diff: 30.45
Match: VDbrvDSmHuuSwUzq - Player1 rating: 1769.0 - Player2 rating: 2353.0 - Rating diff: 33.01
Match: Zb9ktli5Kq7wkvHs - Player1 rating: 1047.0 - Player2 rating: 1411.0 - Rating diff: 34.77
Match: aabUozA0fOW07MAn - Player1 rating: 1784.0 - Player2 rating: 2377.0 - Rating diff: 33.24
Match: b6befe5a862d47ca - Player1 rating: 1433.0 - Player2 rating: 2117.0 - Rating diff: 47.73
Match: bS0T1c3qIuoBziPH - Player1 rating: 1599.0 - Player2 rating: 2293.0 - Rating diff: 43.40
Match: cc7b7217a5fb7b39 - Player1 rating: 1380.0 - Player2 rating: 1931.0 - Rating diff: 39.93
Match: e2ff0d49f2a8573e - Player1 rating: 1466.0 - Player2 rating: 2206.0 - Rating diff: 50.48
Match: jFVzUFfpCq3bnrGP - Player1 rating: 1096.0 - Player2 rating: 1458.0 - Rating diff: 33.03
Match: kDGk7u1rSwSRZ1HD - Player1 rating: 1049.0 - Player2 rating: 1374.0 - Rating diff: 30.98
Match: m3oNGmnkQvfi1mK2 - Player1 rating: 1712.0 - Player2 rating: 2284.0 - Rating diff: 33.41
Match: qzmlUP526Ye5d4lf - Player1 rating: 1048.0 - Player2 rating: 1389.0 - Rating diff: 32.54
Match: uPLo8pnj3A1YFlUe - Player1 rating: 1838.0 - Player2 rating: 2410.0 - Rating diff: 31.12
Match: uthvdpzF2Yh3umPL - Player1 rating: 1047.0 - Player2 rating: 1396.0 - Rating diff: 33.33
Match: vr4iQMRltkGt6XY3 - Player1 rating: 1670.0 - Player2 rating: 2289.0 - Rating diff: 37.07
Match: yaXUQSygwmiXVdSw - Player1 rating: 1051.0 - Player2 rating: 1709.0 - Rating diff: 62.61

Join both datasets to be able to do complete points 3 and 4

In [5]:
# Drop unused fields to reduce the memory footprint of the simulation
matches.pop("map_size")
matches.pop("num_players")
matches.pop("average_rating")
matches.pop("winning_team")
matches.pop("patch")
players.pop("token")
players.pop("color")

join_matches = pd.merge(players, matches, left_on="match", right_on="token")
display(join_matches.info())
print(join_matches.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9732500 entries, 0 to 9732499
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   match     object
 1   rating    float64
 2   civ       object
 3   team      int64
 4   winner    bool
 5   token     object
 6   mirror    bool
 7   ladder    object
 8   map       object
 9   server    object
 10  duration  timedelta64[ns]
dtypes: bool(2), float64(1), int64(1), object(6), timedelta64[ns](1)
memory usage: 761.1+ MB

None

              match  rating      civ  team  winner             token  mirror  \
0  9YDIBsStGjrIuGbW   952.0   Tatars     2    True  9YDIBsStGjrIuGbW   False
1  9YDIBsStGjrIuGbW   947.0  Teutons     1   False  9YDIBsStGjrIuGbW   False
2  3930e585b343d9b2  1395.0   Aztecs     2   False  3930e585b343d9b2   False
3  3930e585b343d9b2  1203.0  Mongols     2   False  3930e585b343d9b2   False
4  3930e585b343d9b2  1273.0    Khmer     1    True  3930e585b343d9b2   False

    ladder        map       server        duration
0   RM_1v1     arabia       ukwest 0 days 00:30:57
1   RM_1v1     arabia       ukwest 0 days 00:30:57
2  RM_TEAM  lombardia  brazilsouth 0 days 00:34:26
3  RM_TEAM  lombardia  brazilsouth 0 days 00:34:26
4  RM_TEAM  lombardia  brazilsouth 0 days 00:34:26

Point 3: Civ win rate in 1v1 games in map arena

In [6]:
join_matches_1v1_no_mirror = join_matches[(join_matches["ladder"] == "RM_1v1") & (join_matches["mirror"] == False) & (join_matches["map"] == "arena")]
win_per_civ = join_matches_1v1_no_mirror.groupby("civ")["winner"].mean().reset_index().rename(columns={"winner": "win_rate"}).sort_values("win_rate", ascending=False)
win_per_civ["win_rate"] = win_per_civ["win_rate"] * 100
print(win_per_civ[["civ", "win_rate"]])

            civ   win_rate
4       Burmese  55.122614
32        Turks  54.511006
11        Goths  53.842403
0        Aztecs  52.983345
13        Incas  52.739633
6         Celts  52.589175
17        Khmer  52.520497
31      Teutons  52.510556
28        Slavs  51.955694
10       Franks  51.555889
34      Vikings  51.347882
29      Spanish  50.912328
3    Bulgarians  50.069735
2       Britons  49.445923
19  Lithuanians  49.317336
8        Cumans  48.813220
21        Malay  48.364577
23       Mayans  48.330778
15     Italians  47.730769
24      Mongols  47.707066
9    Ethiopians  47.557252
22      Malians  47.153343
7       Chinese  47.150207
5    Byzantines  46.961084
12         Huns  46.680799
33   Vietnamese  46.502237
14      Indians  46.233010
16     Japanese  45.907028
26   Portuguese  45.665428
25     Persians  45.062265
18      Koreans  44.799005
1       Berbers  43.218730
27     Saracens  43.131961
30       Tatars  42.050168
20      Magyars  42.015358

Point 4: Usage rate of every civ used by pro players (rating > 2000) in team matches in map islands

In [7]:
join_matches_1v1_pros = join_matches[(join_matches["ladder"] != "RM_1v1") & (join_matches["rating"] > 2000) & (join_matches["map"] == "islands")]
top5_civs = join_matches_1v1_pros.groupby("civ")["token"].count().reset_index().rename(columns={"token": "counts"})
top5_civs = top5_civs[["civ", "counts"]].sort_values(by='counts', ascending=False).head(5)
print(top5_civs[["civ", "counts"]])

           civ  counts
34     Vikings     627
15    Italians     415
26  Portuguese     350
16    Japanese     143
27    Saracens     142